---
// src/pages/carros.astro
import Carros from '../components/Carros.astro';
---

<html>
<head>
  <title>Selecione o Carro</title>
</head>
<body>
  <h1>Selecione o Carro</h1>
  <Carros />
  <nav>
    <ul>
      <li><a href="/pagina1">Página 1</a></li>
      <li><a href="/pagina2">Página 2</a></li>
      <li><a href="/pagina3">Página 3</a></li>
    </ul>
  </nav>
</body>
</html>